{% extends 'base.html' %}
{% block content %}

<style>
  
  .caption {
    color: black;
    font-size: 45px;
    font-weight: bold;
}
</style>

<!-- Golden Gate Bridge Background -->

<body background="/static/other_images/gg_bridge.jpg">
    <div class="carousel-caption caption-positioning">
      <div class="caption" >
      <div> Discover the colorful city of  </div>
      <div> San Francisco </div>
    </div>
      <br>
        <a href="/neighborhoods">
          <button type="button" class="btn btn-outline-dark">Let's Explore!
          </button>
        </a>
    </div>

</body>


{% endblock %}



