{% extends 'base.html' %}

{% block content %}


<div class='container-fluid'>
<div class='row'>
  <br>
  <br>
</div>

<div class="row wrapper">
  <div class='col-md-4'>
  </div>
  <div class='col-md-4'>
    <h2 class='page-title'>Neighborhoods</h2>
    <br>
  </div>
  <div id="neighborhood-list">
    <div class="row">
      {% for n in neighborhood %}
      <div class="col-md-3 n">
        <a href="/neighborhoods/{{ n.neighborhood_id }}"> <img class="card-img-top" style="height: 300px" src="{{ n.image_url }}">
        </a>
        <h3 class='title carousel-caption'>
          {{n.name}}
          <!-- <a href="/neighborhoods/{{ n.neighborhood_id }}">{{ n.name }}</a> -->
          
        </h3>

      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}



