{% extends 'base.html' %}

{% block body %}
    <h2>Neighborhoods</h2>

    <div id="neighborhood-list" class="row">
      {% for n in neigborhood %}

          <div class="well">
            <h3>
              <a href="/neighborhoods/{{ neigborhood.neighborhood_id }}">{{ neighborhood.name }}</a>
            <h3>
            <a href="/neighborhoods/{{ neigborhood.neighborhood_id }}">
                <img src="{{ neighborhood.image }}" class="img-circle">
            </a>

          </div>

      {% endfor %}
    </div>

{% endblock %}