{% extends 'base.html' %}

{% block content %}

<style>

.spaces {

  margin-bottom: 30px;
}

.margin-title {
  margin-top: 60px;
  margin-bottom: 30px;
}

</style>

<div class='container-fluid'>


<div class="row wrapper">
  <div class='col-md-4'>
  </div>
  <div class='col-md-4'>

    <h2 class="page-title margin-title">
      <img src="/static/other_images/pm.png" width="40" height="40" alt="">Places to visit in {{neighborhood_name}}
    </h2>

  </div>

   
  <div id="places-list">
      <div class="row">

      {% for p in places %}

      <div class="col-md-4">
      <div class='card spaces'>


        <a href="/neighborhoods/{{ neighborhood_id }}/places/{{p.place_id}}">
            <img class="card-img-top" style="height: 300px" src="/{{ p.image_url }}">
        </a>

      <div class='card-body'> 

      <h3>
        <a href="/neighborhoods/{{ neighborhood_id }}/places/{{p.place_id}}">{{ p.name }}</a>
      </h3>

      </div>
  </div>
</div>
          

      {% endfor %}
    </div>
  </div>


{% endblock %}

