{% extends 'base.html' %}

{% block content %}
    <h2>Places to visit in {{neighborhood_name}}</h2>

    <div>
      {% for p in places %}

          <div>
            <h3>
              <a href="/neighborhoods/{{ neighborhood_id }}/places/{{p.place_id}}">{{ p.name }}</a>
            <h3>
              </div>
              
              <a href="/neighborhoods/{{ neighborhood_id }}/places/{{p.place_id}}">
              <img style="height: 300px" src="/{{ p.image_url }}">
            </a>

          

      {% endfor %}
    </div>

{% endblock %}