{% extends 'base.html' %}

{% block content %}

<style>

div {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

h2 {  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;}

</style>
    
    <h2>Places to visit in {{neighborhood_name}}</h2>

   
    <div id="places-list" >
      <div class="row">

      {% for p in places %}

      <div class="col-md-4">
      <div class='card'>

      

      <a href="/neighborhoods/{{ neighborhood_id }}/places/{{p.place_id}}">
          <img class="card-img-top" style="height: 300px" src="/{{ p.image_url }}">
      </a>

      <div class='card-body'> 

      <h3>
        <a href="/neighborhoods/{{ neighborhood_id }}/places/{{p.place_id}}">{{ p.name }}</a>
      </h3>

    </div>
  </div>
</div>
          

      {% endfor %}
    </div>
  </div>


{% endblock %}

