{% extends 'base.html' %}
{% block content %}

  <h1>Top 5 Most Popular Restaurants in {{neighborhood_name}}</h1>


    <div>
      
      <br>
    
      {% for business in data['businesses'] %}
      
      <br>
      <div>{{business['name']}}</div>
      <img src = "{{business['image_url']}}"/>
      <div>Rating: {{business['rating']}}</div>
      <div>Reviews: {{business['review_count']}}</div>
      <div>Price: {{business['price']}}</div>

      {%endfor%}

    </div>
    <br>

  <form action="comment" method="POST">

    <div>
    <label>
      Comment:
      <input type="fname" name="fname">
    </label>
  </div>


  <div>
    <input type="submit" value="Comment">
  </div>

</form>


  
{% endblock %}