{% extends 'base.html' %} 

{% block content %}


<div class='container'> 
  <div class='row'>
    <br>
    <br>
  </div>

  <div class='row'>

    <div class='col'>

       <h1>Top 5 Most Popular Restaurants in {{neighborhood_name}}</h1>


       {% for business in data['businesses'] %}

       <div class="card" style="width: 18rem;">
          <a href="{{ business['url'] }}">      
            <img class="card-img-top" src="{{business['image_url']}}" alt="Card image cap">
          </a>
      <div class="card-body">
      <h5 class="card-title">{{business['name']}}</h5>
    
      </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Rating: {{business['rating']}}</li>
        <li class="list-group-item">Reviews: {{business['review_count']}}</li>
        <li class="list-group-item">Price: {{business['price']}}</li>
    </ul>
  
        </div>
      
        <br>
      
        <!-- <div>{{business['name']}}</div>

        <a href="{{ business['url'] }}">
        <img style="height: 200px" src = "{{business['image_url']}}"/>
        </a>

          <div>Rating: {{business['rating']}}</div>
          <div>Reviews: {{business['review_count']}}</div>
          <div>Price: {{business['price']}}</div> -->

       {% endfor %}


        <br>

     </div> <!-- col -->


  <div class='col' >

    <br>
    <br>
    <br>

   {% if "user_id" in session %}

   <h3>What do you think?:</h3>

      <form action="/neighborhoods/restaurants.json" id="reaction-form" method="POST">
       
      <div id='neighborhoodId' style="visibility: hidden;">
          {{neighborhood_id}} </div>

      <input id='neighborhood_id' type='hidden' name='neighborhood_id' value='{{neighborhood_id}}'>


      <label>Review:</label>
          <textarea class="form-control" rows="4" cols="50" name="comment" id="comment" required></textarea>

         <br> 

        <button id="submitButton" type="submit" class="btn btn-lg btn-outline-dark mt-3">Submit review</button>

     </form>


     {% else %}  
 
      <h3>Sign in to let us know what you think!</h3>
   
      {% endif %}

      <br>

      <div id='comment_section' >

      {% for comment in comments %}

      <div>{{comment.user['fname']}} {{comment.user['lname']}} ({{comment.user['status']}})</div>
      <div>Date: {{comment['created_date'].strftime("%B %d, %Y")}}</div>
      <div>Comment: {{comment['comment']}}</div>
      <br>
      <br>

      {% endfor %}

      </div>
  </div>
</div>
</div>



<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>


<script>

    function getRequest() {

      $('#submitButton').on('click', (evt) => {
        evt.preventDefault(); //stops the post request form from submitting to the route and refreshing the page. prevents us from going to the .json and to just stay on the same page with the new content added

        const formInputs = {
          'neighborhood_id': $('#neighborhood_id').val(), 
          'comment': $('#comment').val() //grabs the value from id='comment'
          // no need to grab date
        };

        $.post('/neighborhoods/restaurants.json', formInputs, (results) => {


          var html = 
                          // '<div class="card" style="width: 18rem;">' +
          //             '<div class="card-header">' +
          //               'Featured' +
          //             '</div>' +
          //             '<ul class="list-group list-group-flush">' +
          //               '<li class="list-group-item" id="first_name" ></li>' +
          //               '<li class="list-group-item" id="user_status"></li>' +
          //               '<li class="list-group-item" id="created_date"></li>' +
          //               '<li class="list-group-item" id="c_comment"></li>' +
          //             '</ul>' +
          //           '</div>' +

                      '<div>' + 
                      '<span id="first_name">  </span> <span id="last_name">' + 
                      '</span> <span id="user_status"> </span>' +
                      '</div>' +
                      '<div>' +
                      '<span id="created_date"> </span>' +
                      '</div>' +
                      '<div>' + 
                      '<span id="c_comment"> </span>' +
                      '</div>' +
                      '<br>'
          
          $('#comment_section').prepend(html);


          document.getElementById('first_name').innerHTML = results.user_first_name;
          document.getElementById('last_name').innerHTML = results.user_last_name;
          document.getElementById('user_status').innerHTML = "(" + results.user_status + ")";
          document.getElementById('c_comment').innerHTML = "Comment: " + results.comment;
          document.getElementById('created_date').innerHTML = "Date: " + results.created_date;
          $('#comment').val(''); // this clears the comment box 
          
         });


      }
      )}

    getRequest();

</script>

{% endblock %}
