{% extends 'base.html' %}
{% block content %}

  <h1>Top 5 Most Popular Restaurants in {{neighborhood_name}}</h1>


    <div>
      
      <br>
    
      {% for business in data['businesses'] %}
      
      <br>
      <div>{{business['name']}}</div>
      <a href="{{ business['url'] }}">
      <img style="height: 200px" src = "{{business['image_url']}}"/>
      </a>
      <div>Rating: {{business['rating']}}</div>
      <div>Reviews: {{business['review_count']}}</div>
      <div>Price: {{business['price']}}</div>

      {% endfor %}

    </div>
    <br>

    {% if "user_id" in session %}

  <div class="container-fluid">
  <h5>What do you think?:</h5>



    <form action="/neighborhoods/{{neighborhood_id}}/restaurants" id="reaction-form" method="POST">
        <br>
          <div id='neighborhoodId' style="visibility: hidden;">
          {{neighborhood_id}}
          </div>


          <label>Review:</label>
              <textarea class="form-control" rows="4" cols="50" name="comment" id="comment" required></textarea>
                  </div>
                  </div>
                    <br>
                </div>
            </div>
            
        <button id="submitButton" type="submit" class="btn btn-lg btn-outline-dark mt-3">Submit review</button>


        

{% endif %}
<br>

{% for comment in comments %}

      <div>{{comment.user['fname']}} {{comment.user['lname']}} ({{comment.user['status']}})</div>
      <div>Date: {{comment['created_date'].strftime("%B %d, %Y")}}</div>
      <div>Comment: {{comment['comment']}}</div>
      <br>
      <br>

{% endfor %}

  
{% endblock %}