{% extends 'base.html' %}

{% block head %}
<!-- <script src="https://code.jquery.com/jque ry.js"></script> -->


<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  


  
  

{% endblock %}


{% block content %}
    <h2>{{ place_name }}</h2>

    

      <div>Overall Rating: {{avg_rating}}</div>
      <div>Number of Reviews: {{num_comments}}</div>

      <br>
    
      <img style="height: 300px" src="/{{ image_url }}">

    <br>

    <div>
        <p> {{ description }} </p>  
    </div>

    <br>
    <script src="/static/mapstyles.js"></script>
    <script src="/static/google_maps.js"></script>
    <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl-7CXf6ccHeZJQZFO7xVSKWUisBJS6H0&callback=initMap"> 



</script>

<style>
#places-map {
  width: 50%;
  height: 400px;
}</style>

{% if "user_id" in session %}

    
<div class="container-fluid">
<h5>Comment and rate for {{ place_name }}:</h5>

    <form action="/neighborhoods/{{neighborhood_id}}/places/{{place_id}}" id="review-form" enctype=multipart/form-data method="POST">
    <br>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col">
                            <label>Rating:</label>

                            <select class="form-control" name="rating-score" id="rating-score"required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                            <label>Review:</label>
                            <textarea class="form-control" rows="4" cols="50" name="food-comment" id="food-comment" required></textarea>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

        <button type="submit" class="btn btn-lg btn-outline-dark mt-3">Submit review</button>

{% endif %}

{% for comment in comments %}

      <div>{{comment.user['fname']}} {{comment.user['lname']}} ({{comment.user['status']}})</div>
      <div>Date: {{comment['created_date'].strftime("%B %d, %Y")}}</div>
      <div>Rating: {{comment['rating']}}</div>
      <div>Comment: {{comment['comment']}}</div>
      <br>
      <br>
      

{% endfor %}


  <div id="places-map"></div>


{% endblock %}
