{% extends 'base.html' %}

{% block content %}

    <h2>{{ neighborhood_name }}</h2>

    <img src="{{ images }}">

    <div>
        <p> {{ description }} </p>  
    </div>

    <br>

    To see the top 5 most popular restaurants in {{ neighborhood_name }}!
    <a href="/neighborhoods/{{neighborhood_id}}/restaurants"><button>Click Me!</button></a>

    <br>

    To see the list of places you can visit in {{ neighborhood_name }}!
    <a href="/neighborhoods/{{neighborhood_id}}/places"><button>Click Me!</button></a>

        
   
{% endblock %}