{% extends 'base.html' %}

{% block head %}



{% endblock %}


{% block content %}
    
<h2>{{ place_name }}</h2>

<div> Overall Rating: <span id='avg-rating' > {{avg_rating}} </span> </div>
<div> Number of Reviews: <span id='num-comments' > {{num_comments}} </span></div>

<br>


<div class="container">  
<div class="row">


  
  <div class="col"> <img style="height: 400px" src="/{{ image_url }}">  </div>


  <style>
    #places-map {
    width: 100%;
    height: 400px;
    }
  </style>

  <div class="col"> <div id="places-map"></div> </div>
  <script src="/static/google_maps.js"></script>


  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap">  // after google map loads, then initMap
  </script>

  <div id='placeId' style="visibility: hidden;">
          {{place_id}}
  </div> 

 

  <div>
      <p> {{ description }} </p>  
  </div>

{% if "user_id" in session %}

<div class="container-fluid">
<h3>What do you think about {{ place_name }}?:</h3>


  <form action="/neighborhoods/places.json" id="review-form" enctype=multipart/form-data method="POST">

    <div id='placeId' style="visibility: hidden;">
          {{place_id}}
    </div>

    <input id='place_id' type='hidden' name='place_id' value='{{place_id}}'>
        
        <div class="container">
      
            <label>Rating:</label>

            <select class="form-control" name="score" id="score"required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

      <br>

            <label>Review:</label>

                <textarea class="form-control" rows="4" cols="50" name="comment" id="comment" required></textarea>
                  
        </div>
      <br>

        <button id="submitButton" type="submit" class="btn btn-lg btn-outline-dark mt-3">Submit review</button>

      </form>

{% else %}  

<h3>Sign in to let us know what you think about {{ place_name }}!</h3>  

{% endif %}


<br>

<div id='comment_section' >

{% for comment in comments %}

      <div>{{comment.user['fname']}} {{comment.user['lname']}} ({{comment.user['status']}})</div>
      <div>Date: {{comment['created_date'].strftime("%B %d, %Y")}}</div>
      <div>Rating: {{comment['rating']}}</div>
      <div>Comment: {{comment['comment']}}</div>
      <br>
      <br>
      

{% endfor %}

</div>

  


<script>

    function getRequest() {

      $('#submitButton').on('click', (evt) => {
        evt.preventDefault(); //stops the post request form from submitting to the route and refreshing the page. prevents us from going to the .json and to just stay on the same page with the new content added

        const formInputs = {
          'place_id': $('#place_id').val(), 
          'comment': $('#comment').val(), //grabs the value from id='comment'
          'rating': $('#score option:selected').text()
          // no need to grab date 
        };

        $.post('/neighborhoods/places.json', formInputs, (results) => {

        var html = '<div> '+ 
                    '<span id="first_name">  </span> <span id="last_name">' +
                    '</span> <span id="user_status"> </span>' +
                  '</div>' + 
                  '<div> ' +
                  '  <span id="created_date"> </span>' +
                  '</div>' +
                  '<div> ' +
                  '  <span id="rating"> </span>' +
                  '</div>' +
                  '<div> ' +
                  '  <span id="c_comment"> </span>' +
                  '</div>' +
                  '<br>' 

          $('#comment_section').prepend(html);
          
          document.getElementById('first_name').innerHTML = results.user_first_name;
          document.getElementById('last_name').innerHTML = results.user_last_name;
          document.getElementById('user_status').innerHTML = "(" + results.user_status + ")";
          document.getElementById('c_comment').innerHTML = "Comment: " + results.comment;
          document.getElementById('rating').innerHTML = "Rating: " + results.rating;
          document.getElementById('created_date').innerHTML = "Date: " + results.created_date;

          document.getElementById('avg-rating').innerHTML = results.avg_rating;
          document.getElementById('num-comments').innerHTML = results.comments_total;

          $('#comment').val(''); // this clears the comment box 
          
         });


      }
      )}

    getRequest();

</script>



{% endblock %}
